<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FileShare - Download shared file</title>

  <link rel="apple-touch-icon" href="/apple-icon.png">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  <link rel="stylesheet" href="/css/style.min.css">
</head>

<body>
  <section class="download-container">
    <% if(locals.error) {%>
    <div class="wrapper error">
      <h4><%= locals.error %> </h4>
      <p>Requested file link may have been modifed or expired. <br>Ask sender to share the file again.</p>
    </div>
    <% } else {%>
    <div class="wrapper success">
      <h4>File is Ready for download!</h4>
     
      <a class="btn" href="<%= downloadLink %>">Download (<%= parseInt(size/1000) %> KB) </a>
      <% }%>
    </div>
  </section>
</body>

</html>